/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-id-pattern */

@media print {
  .noprint,
  .catlinks,
  .magnify,
  .mw-cite-backlink,
  .mw-jump,
  .mw-editsection,
  .mw-editsection-like,
  .mw-hidden-catlinks,
  .mw-indicators,
  .mw-redirectedfrom,
  .patrollink,
  .usermessage,
  #column-one,
  #footer-places,
  #jump-to-nav,
  #mw-navigation,
  #siteNotice,
  #f-poweredbyico,
  #f-copyrightico,
  li#about,
  li#disclaimer,
  li#mobileview,
  li#privacy {
    display: none;
  }

  body {
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
  }

  a {
    background: none !important;
    padding: 0 !important;
  }

  a,
  a.external,
  a.new,
  a.stub {
    color: #000 !important;
    text-decoration: none !important;
    color: inherit !important;
    text-decoration: inherit !important;
  }

  dt {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-before: avoid;
  }

  p {
    margin: 1em 0;
    line-height: 1.2;
    orphans: 3;
    widows: 3;
  }

  img,
  figure,
  .wikitable,
  .thumb {
    page-break-inside: avoid;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  pre,
  .mw-code {
    background: #fff;
    color: #000;
    border: 1pt dashed #000;
    padding: 1em 0;
    font-size: 8pt;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
  }

  sup,
  sub {
    line-height: 1;
  }

  ul {
    list-style-type: square;
  }

  #globalWrapper {
    width: 100% !important;
    min-width: 0 !important;
  }

  .mw-body {
    background: #fff;
    color: #000;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    direction: ltr;
  }

  #column-content {
    margin: 0 !important;
  }

  #column-content .mw-body {
    padding: 1em;
    margin: 0 !important;
  }

  #toc,
  .toc {
    background-color: #f9f9f9;
    border: 1pt solid #aaa;
    padding: 5px;
    display: table;
  }

  .tocnumber,
  .toctext {
    display: table-cell;
  }

  .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .mw-content-ltr .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .mw-content-rtl .tocnumber {
    padding-left: 0.5em;
    padding-right: 0;
  }

  table.floatright,
  div.floatright,
  div.tright {
    float: right;
    clear: right;
    position: relative;
  }

  table.floatleft,
  div.floatleft,
  div.tleft {
    float: left;
    clear: left;
    position: relative;
  }

  div.tleft {
    margin: 0.5em 1.4em 1.3em 0;
  }

  div.tright {
    margin: 0.5em 0 1.3em 1.4em;
  }

  table.floatright,
  div.floatright {
    margin: 0 0 0.5em 0.5em;
    border: 0;
  }

  table.floatleft,
  div.floatleft {
    margin: 0 0.5em 0.5em 0;
    border: 0;
  }

  div.floatleft p,
  div.floatright p {
    font-style: italic;
  }

  .center {
    text-align: center;
  }

  div.thumb {
    background-color: transparent;
    width: auto;
  }

  div.thumb a {
    border-bottom: 0;
  }

  div.thumbinner {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    font-size: 10pt;
    color: #666;
    text-align: center;
    overflow: hidden;
    min-width: 100px;
  }

  html .thumbcaption {
    text-align: left;
    line-height: 1.4;
    padding: 3px;
  }

  img.thumbborder {
    border: 1pt solid #ddd;
  }

  table.wikitable,
  .mw_metadata {
    background: #fff;
    margin: 1em 0;
    border: 1pt solid #aaa;
    border-collapse: collapse;
    font-size: 10pt;
  }

  table.wikitable > caption,
  .mw_metadata caption {
    padding: 5px;
    font-size: 10pt;
  }

  table.wikitable > tr > th,
  table.wikitable > tr > td,
  table.wikitable > * > tr > th,
  table.wikitable > * > tr > td,
  .mw_metadata th,
  .mw_metadata td {
    background: #fff !important;
    color: #000 !important;
    border: 1pt solid #aaa;
    padding: 0.4em 0.6em;
  }

  table.wikitable > tr > th,
  table.wikitable > * > tr > th,
  .mw_metadata th {
    text-align: center;
  }

  table.listing,
  table.listing td {
    border: 1pt solid #000;
    border-collapse: collapse;
  }

  .catlinks ul {
    display: inline;
    padding: 0;
    list-style: none none;
  }

  .catlinks li {
    display: inline-block;
    line-height: 1.15;
    margin: 0.1em 0;
    border-left: 1pt solid #aaa;
    padding: 0 0.4em;
  }

  .catlinks li:first-child {
    border-left: 0;
    padding-left: 0.2em;
  }

  .printfooter {
    padding: 1em 0;
  }

  #footer {
    background: #fff;
    color: #000;
    margin-top: 1em;
    border-top: 1pt solid #aaa;
    padding-top: 5px;
    direction: ltr;
  }
}

@media screen {
  .mw-content-ltr {
    direction: ltr;
  }

  .mw-content-rtl {
    direction: rtl;
  }

  .sitedir-ltr textarea,
  .sitedir-ltr input {
    direction: ltr;
  }

  .sitedir-rtl textarea,
  .sitedir-rtl input {
    direction: rtl;
  }

  .mw-userlink {
    unicode-bidi: embed;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  wbr {
    display: inline-block;
  }

  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  input[type="file"] {
    direction: ltr;
  }

  textarea[dir="ltr"],
  input[dir="ltr"] {
    direction: ltr;
  }

  textarea[dir="rtl"],
  input[dir="rtl"] {
    direction: rtl;
  }

  abbr[title],
  .explain[title] {
    border-bottom: 1px dotted;
    cursor: help;
  }

  @supports (text-decoration: underline dotted) {
    abbr[title],
    .explain[title] {
      border-bottom: 0;
      text-decoration: underline dotted;
    }
  }

  span.comment {
    font-style: italic;
    unicode-bidi: isolate;
  }

  #editform,
  #toolbar,
  #wpTextbox1 {
    clear: both;
  }

  #toolbar {
    height: 22px;
  }

  .mw-editfont-default:not(textarea) {
    font-family: monospace;
  }

  .mw-editfont-monospace {
    font-family: monospace;
  }

  .mw-editfont-sans-serif {
    font-family: sans-serif;
  }

  .mw-editfont-serif {
    font-family: serif;
  }

  .mw-underline-always a {
    text-decoration: underline;
  }

  .mw-underline-never a {
    text-decoration: none;
  }

  li span.deleted,
  span.history-deleted {
    text-decoration: line-through;
    color: #72777d;
    font-style: italic;
  }

  .not-patrolled {
    background-color: #ffa;
  }

  .unpatrolled {
    font-weight: bold;
    color: #d33;
  }

  div.patrollink {
    font-size: 75%;
    text-align: right;
  }

  td.mw-label {
    text-align: right;
    vertical-align: middle;
  }

  td.mw-input {
    text-align: left;
  }

  td.mw-submit {
    text-align: left;
    white-space: nowrap;
  }

  .mw-input-with-label {
    white-space: nowrap;
    display: inline-block;
  }

  #catlinks {
    text-align: left;
  }

  .catlinks ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
  }

  .catlinks li {
    display: inline-block;
    line-height: 1.25em;
    border-left: 1px solid #a2a9b1;
    margin: 0.125em 0;
    padding: 0 0.5em;
    zoom: 1;
  }

  .catlinks li:first-child {
    padding-left: 0.25em;
    border-left: 0;
  }

  .catlinks li a.mw-redirect {
    font-style: italic;
  }

  .mw-hidden-cats-hidden {
    display: none;
  }

  .catlinks-allhidden {
    display: none;
  }

  p.mw-protect-editreasons,
  p.mw-filedelete-editreasons,
  p.mw-delete-editreasons {
    font-size: 90%;
    text-align: right;
  }

  .autocomment {
    color: #72777d;
  }

  .newpage,
  .minoredit,
  .botedit {
    font-weight: bold;
  }

  div.mw-warning-with-logexcerpt {
    padding: 3px;
    margin-bottom: 3px;
    border: 2px solid #2a4b8d;
    clear: both;
  }

  div.mw-warning-with-logexcerpt ul li {
    font-size: 90%;
  }

  span.mw-revdelundel-link,
  strong.mw-revdelundel-link {
    font-size: 90%;
  }

  span.mw-revdelundel-hidden,
  input.mw-revdelundel-hidden {
    visibility: hidden;
  }

  td.mw-revdel-checkbox,
  th.mw-revdel-checkbox {
    padding-right: 10px;
    text-align: center;
  }

  a.new {
    color: #ba0000;
  }

  a.mw-selflink {
    color: inherit;
    font-weight: bold;
    text-decoration: inherit;
  }

  a.mw-selflink:hover {
    cursor: inherit;
    text-decoration: inherit;
  }

  a.mw-selflink:active,
  a.mw-selflink:visited {
    color: inherit;
  }

  .plainlinks a.external {
    background: none !important;
    padding: 0 !important;
  }

  .rtl a.external.free,
  .rtl a.external.autonumber {
    direction: ltr;
    unicode-bidi: embed;
  }

  table.wikitable {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
  }

  table.wikitable > tr > th,
  table.wikitable > tr > td,
  table.wikitable > * > tr > th,
  table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
  }

  table.wikitable > tr > th,
  table.wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
  }

  table.wikitable > caption {
    font-weight: bold;
  }

  .mw-datatable {
    border-collapse: collapse;
  }

  .mw-datatable,
  .mw-datatable td,
  .mw-datatable th {
    border: 1px solid #a2a9b1;
    padding: 0 0.15em;
  }

  .mw-datatable th {
    background-color: #ddf;
  }

  .mw-datatable td {
    background-color: #fff;
  }

  .mw-datatable tr:hover td {
    background-color: #eaf3ff;
  }

  #toc ul,
  .toc ul {
    margin: 0.3em 0;
  }

  .mw-content-ltr .toc ul,
  .mw-content-ltr #toc ul,
  .mw-content-rtl .mw-content-ltr .toc ul,
  .mw-content-rtl .mw-content-ltr #toc ul {
    text-align: left;
  }

  .mw-content-rtl .toc ul,
  .mw-content-rtl #toc ul,
  .mw-content-ltr .mw-content-rtl .toc ul,
  .mw-content-ltr .mw-content-rtl #toc ul {
    text-align: right;
  }

  .mw-content-ltr .toc ul ul,
  .mw-content-ltr #toc ul ul,
  .mw-content-rtl .mw-content-ltr .toc ul ul,
  .mw-content-rtl .mw-content-ltr #toc ul ul {
    margin: 0 0 0 2em;
  }

  .mw-content-rtl .toc ul ul,
  .mw-content-rtl #toc ul ul,
  .mw-content-ltr .mw-content-rtl .toc ul ul,
  .mw-content-ltr .mw-content-rtl #toc ul ul {
    margin: 0 2em 0 0;
  }

  #toc #toctitle,
  .toc #toctitle,
  #toc .toctitle,
  .toc .toctitle {
    direction: ltr;
  }

  #mw-clearyourcache,
  #mw-sitecsspreview,
  #mw-sitejspreview,
  #mw-usercsspreview,
  #mw-userjspreview {
    direction: ltr;
    unicode-bidi: embed;
  }

  #mw-revision-info,
  #mw-revision-info-current,
  #mw-revision-nav {
    direction: ltr;
  }

  div.tright,
  div.floatright,
  table.floatright {
    clear: right;
    float: right;
  }

  div.tleft,
  div.floatleft,
  table.floatleft {
    float: left;
    clear: left;
  }

  div.floatright,
  table.floatright,
  div.floatleft,
  table.floatleft {
    position: relative;
  }

  #mw-credits a {
    unicode-bidi: embed;
  }

  .mw-jump,
  #jump-to-nav {
    overflow: hidden;
    height: 0;
    zoom: 1;
  }

  .printfooter {
    display: none;
  }

  .xdebug-error {
    position: absolute;
    z-index: 99;
  }

  .mw-editsection,
  #jump-to-nav {
    user-select: none;
  }

  .mw-editsection,
  .mw-editsection-like {
    font-size: small;
    font-weight: normal;
    margin-left: 1em;
    vertical-align: baseline;
    line-height: 1em;
    display: inline-block;
  }

  .mw-content-ltr .mw-editsection,
  .mw-content-rtl .mw-content-ltr .mw-editsection {
    margin-left: 1em;
  }

  .mw-content-rtl .mw-editsection,
  .mw-content-ltr .mw-content-rtl .mw-editsection {
    margin-right: 1em;
  }

  sup,
  sub {
    line-height: 1;
  }
}

@media screen {
  a {
    text-decoration: none;
    color: #0645ad;
    background: none;
  }

  a:not([href]) {
    cursor: pointer;
  }

  a:visited {
    color: #0b0080;
  }

  a:active {
    color: #faa700;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:lang(ar),
  a:lang(kk-arab),
  a:lang(mzn),
  a:lang(ps),
  a:lang(ur) {
    text-decoration: none;
  }

  a.stub {
    color: #723;
  }

  a.new,
  #p-personal a.new {
    color: #ba0000;
  }

  a.new:visited,
  #p-personal a.new:visited {
    color: #a55858;
  }

  .mw-body-content a.extiw,
  .mw-body-content a.extiw:active {
    color: #36b;
  }

  .mw-body-content a.extiw:visited {
    color: #636;
  }

  .mw-body-content a.extiw:active {
    color: #b63;
  }

  .mw-body-content a.external {
    color: #36b;
  }

  .mw-body-content a.external:visited {
    color: #636;
  }

  .mw-body-content a.external:active {
    color: #b63;
  }

  .mw-body-content a.external.free {
    word-wrap: break-word;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  hr {
    height: 1px;
    color: #a2a9b1;
    background-color: #a2a9b1;
    border: 0;
    margin: 0.2em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
  }

  h1 {
    font-size: 188%;
  }

  h2 {
    font-size: 150%;
  }

  h3,
  h4,
  h5,
  h6 {
    border-bottom: 0;
    font-weight: bold;
  }

  h3 {
    font-size: 128%;
  }

  h4 {
    font-size: 116%;
  }

  h5 {
    font-size: 108%;
  }

  h6 {
    font-size: 100%;
  }

  h1,
  h2 {
    margin-bottom: 0.6em;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 0.3em;
  }

  p {
    margin: 0.4em 0 0.5em;
  }

  p img {
    margin: 0;
  }

  ul {
    list-style-type: square;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
  }

  ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none;
  }

  li {
    margin-bottom: 0.1em;
  }

  dt {
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  dl {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 1.6em;
    margin-bottom: 0.1em;
  }

  pre,
  code,
  tt,
  kbd,
  samp,
  .mw-code {
    font-family: monospace, Courier;
  }

  code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
  }

  pre,
  .mw-code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    padding: 1em;
    white-space: pre-wrap;
  }

  table {
    font-size: 100%;
  }

  fieldset {
    border: 1px solid #2a4b8d;
    margin: 1em 0;
    padding: 0 1em 1em;
  }

  fieldset.nested {
    margin: 0 0 0.5em;
    padding: 0 0.5em 0.5em;
  }

  legend {
    padding: 0.5em;
    font-size: 95%;
  }

  form {
    border: 0;
    margin: 0;
  }

  textarea {
    width: 100%;
    padding: 0.1em;
    display: block;
    box-sizing: border-box;
    border: 1px solid #a2a9b1;
  }

  .center {
    width: 100%;
    text-align: center;
  }

  *.center * {
    margin-left: auto;
    margin-right: auto;
  }

  .small {
    font-size: 94%;
  }

  table.small {
    font-size: 100%;
  }

  #toc,
  .toc,
  .mw-warning,
  .toccolours {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
  }

  #toc,
  .toc {
    display: inline-block;
    display: table;
    zoom: 1;
    padding: 7px;
  }

  table#toc,
  table.toc {
    border-collapse: collapse;
  }

  table#toc td,
  table.toc td {
    padding: 0;
  }

  #toc h2,
  .toc h2 {
    display: inline;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
  }

  #toc #toctitle,
  .toc #toctitle,
  #toc .toctitle,
  .toc .toctitle {
    text-align: center;
  }

  #toc ul,
  .toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  #toc ul ul,
  .toc ul ul {
    margin: 0 0 0 2em;
  }

  .tocnumber,
  .toctext {
    display: table-cell;
    text-decoration: inherit;
  }

  .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
    color: #222;
  }

  .mw-content-ltr .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .mw-content-rtl .tocnumber {
    padding-left: 0.5em;
    padding-right: 0;
  }

  div.floatright,
  table.floatright {
    margin: 0 0 0.5em 0.5em;
  }

  div.floatright p {
    font-style: italic;
  }

  div.floatleft,
  table.floatleft {
    margin: 0 0.5em 0.5em 0;
  }

  div.floatleft p {
    font-style: italic;
  }

  div.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
  }

  div.thumbinner {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
  }

  html .thumbimage {
    background-color: #fff;
    border: 1px solid #c8ccd1;
  }

  html .thumbcaption {
    border: 0;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
  }

  img.thumbborder {
    border: 1px solid #eaecf0;
  }

  div.tright {
    margin: 0.5em 0 1.3em 1.4em;
  }

  div.tleft {
    margin: 0.5em 1.4em 1.3em 0;
  }

  body.mw-hide-empty-elt .mw-empty-elt {
    display: none;
  }

  .catlinks {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    margin-top: 1em;
    clear: both;
  }

  .editOptions {
    background-color: #eaecf0;
    border: 1px solid #c8ccd1;
    border-top: 0;
    padding: 1em 1em 1.5em;
    margin-bottom: 2em;
  }

  .usermessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: #000;
    font-weight: bold;
    margin: 2em 0 1em;
    padding: 0.5em 1em;
    vertical-align: middle;
  }

  #siteNotice {
    position: relative;
    text-align: center;
    margin: 0;
  }

  #localNotice {
    margin-bottom: 0.9em;
  }

  .firstHeading {
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
  }

  #siteSub {
    display: none;
  }

  #jump-to-nav {
    margin-top: -1.4em;
    margin-bottom: 1.4em;
  }

  #contentSub,
  #contentSub2 {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
  }

  span.subpages {
    display: block;
  }
}

@media screen {
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic");

  html {
    font-size: 100%;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: #f6f6f6;
    font-family: Roboto, wtfSymbols, sans-serif !important;
  }

  .mw-body,
  .parsoid-body {
    padding: 1em;
    background-color: #fff;
    color: #222;
    direction: ltr;
    padding-right: 0;
  }

  .mw-body {
    margin-left: 210px;
    padding: 1.25em 1em 1.5em 0;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-top: -1px;
  }

  .mw-body h1,
  .mw-body-content h1,
  .mw-body-content h2 {
    font-family: "Linux Libertine", Georgia, Times, serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
  }

  .mw-body h1:lang(ja),
  .mw-body-content h1:lang(ja),
  .mw-body-content h2:lang(ja),
  .mw-body h1:lang(he),
  .mw-body-content h1:lang(he),
  .mw-body-content h2:lang(he),
  .mw-body h1:lang(ko),
  .mw-body-content h1:lang(ko),
  .mw-body-content h2:lang(ko) {
    font-family: sans-serif;
  }

  .mw-body h1,
  .mw-body-content h1 {
    font-size: 1.8em;
  }

  .mw-body .firstHeading {
    overflow: visible;
  }

  .mw-body .mw-indicators {
    float: right;
    line-height: 1.6;
    font-size: 0.875em;
    position: relative;
    z-index: 1;
  }

  .mw-body .mw-indicator {
    display: inline-block;
    zoom: 1;
  }

  .mw-body-content {
    position: relative;
    line-height: 1.6;
    z-index: 0;
  }

  .mw-body-content p {
    line-height: 29px;
    margin: 0.5em 0;
    font-weight: 400;
    font-size: 17px;
    color: #263238;
  }

  .mw-body-content h1 {
    margin-top: 1em;
  }

  .mw-body-content h2 {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .mw-body-content h3,
  .mw-body-content h4,
  .mw-body-content h5,
  .mw-body-content h6 {
    line-height: 1.6;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .mw-body-content h3 {
    font-size: 1.2em;
  }

  .mw-body-content h3,
  .mw-body-content h4 {
    font-weight: bold;
  }

  .mw-body-content h4,
  .mw-body-content h5,
  .mw-body-content h6 {
    font-size: 100%;
  }

  .mw-body-content #toc h2,
  .mw-body-content .toc h2 {
    font-size: 100%;
    font-family: sans-serif;
  }

  div.emptyPortlet {
    display: none;
  }

  ul {
    list-style-type: disc;
  }

  pre,
  .mw-code {
    line-height: 1.3em;
  }

  #siteNotice {
    font-size: 0.8em;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: wtfModern;
    src: url("./assets/wt_font.ttf");
  }

  @font-face {
    font-family: wtfSymbols;
    src: url("./assets/symbols_skyquake.ttf");
  }

  pre {
    overflow-x: auto;
  }

  .mw-body h1,
  .mw-body-content h2 {
    font-family: Roboto, sans-serif !important;
    padding-bottom: 6px;
  }

  h1,
  h2 {
    border-bottom: 1px solid #dbe0e2;
  }

  .catlinks {
    border: 1px solid #dbe0e2;
    padding: 5px 10px;
  }

  #mw-page-base {
    background-color: transparent !important;
    background-image: none !important;
  }

  .mw-body {
    margin-top: 120px;
    background-color: #f6f6f6;
  }

  .portal h3 {
    display: flex;
    align-items: center;
  }

  .portal p {
    margin: 0;
  }

  .top-panel {
    width: 100%;
    box-shadow: none;
    z-index: 10;
  }

  #p-personal a.new {
    color: #f7f7f7;
  }

  #p-personal a.new:visited {
    color: #f7f7f7;
  }

  #p-logo {
    margin-top: 20px;
    margin-left: 52px;
    position: absolute;
  }

  .content-area {
    margin: 0 auto;
    max-width: 1400px;
  }

  table.wikitable > tr > th,
  table.wikitable > tr > td,
  table.wikitable > * > tr > th,
  table.wikitable > * > tr > td {
    border: 1px solid #b0bec5;
  }

  table.wikitable {
    border: 1px solid #b0bec5;
  }

  table.wikitable > tr > th,
  table.wikitable > * > tr > th {
    background-color: #cfd8dc;
  }

  .mw-body-content a.external:visited {
    color: #0b0080;
  }

  #mw-navigation {
    background-color: #263238;
  }

  #footer {
    padding-top: 1em !important;
    padding-bottom: 0 !important;
    background-color: #13191b !important;
  }

  #footer-block table {
    width: 100%;
    text-align: center;
    padding: 0 10px 10px;
  }

  #footer-block table td {
    vertical-align: bottom;
  }

  #footer-places > li {
    display: inline-block;
    margin: 0 10px !important;
  }

  #footer-places > li a {
    color: #546e7a !important;
  }

  #footer-copyright {
    width: 100%;
    background-color: #263238;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  #footer-copyright > div {
    max-width: 1000px;
    margin: 0 auto;
  }

  #footer-info > li {
    padding: 0 !important;
    font-size: 11px !important;
  }

  .thumbinner {
    border: 1px solid #dbe0e2 !important;
    padding: 5px !important;
    border-radius: 3px !important;
  }

  .thumbimage {
    border-radius: 3px !important;
    box-sizing: border-box;
  }

  .thumbcaption {
    padding: 3px 5px 1px !important;
    font-size: 14px !important;
  }

  #toc,
  .toc {
    border: 1px solid #dbe0e2 !important;
    border-radius: 3px;
  }

  #mobile-navigation {
    display: none;
  }

  #mw-navigation h2 {
    position: absolute;
    top: -9999px;
  }

  #left-navigation {
    float: left;
    margin-left: 10em;
    margin-bottom: -2.5em;
    display: inline;
  }

  #right-navigation {
    float: right;
  }

  #p-logo a {
    display: inline-block;
    text-decoration: none;
  }

  div#footer {
    direction: ltr;
    background-color: #263238;
  }

  div#footer-block {
    max-width: 1000px;
    margin: 0 auto;
  }

  div#footer ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }

  div#footer ul li {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #b0bec5;
    font-size: 13px;
  }

  div#footer ul li a {
    color: #b0bec5;
    text-decoration: underline;
  }

  div#footer #footer-icons {
    float: right;
    margin-right: 1em;
  }

  div#footer #footer-icons li {
    float: left;
    margin-left: 0.5em;
    line-height: 2em;
    text-align: right;
  }

  div#footer #footer-info li {
    line-height: 1.4em;
  }
}
