/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-id-pattern */

@media screen {
  .mw-content-ltr {
    direction: ltr;
  }

  .mw-content-rtl {
    direction: rtl;
  }

  .sitedir-ltr textarea,
  .sitedir-ltr input {
    direction: ltr;
  }

  .sitedir-rtl textarea,
  .sitedir-rtl input {
    direction: rtl;
  }

  .mw-userlink {
    unicode-bidi: embed;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  wbr {
    display: inline-block;
  }

  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  input[type="file"] {
    direction: ltr;
  }

  textarea[dir="ltr"],
  input[dir="ltr"] {
    direction: ltr;
  }

  textarea[dir="rtl"],
  input[dir="rtl"] {
    direction: rtl;
  }

  abbr[title],
  .explain[title] {
    border-bottom: 1px dotted;
    cursor: help;
  }

  @supports (text-decoration: underline dotted) {
    abbr[title],
    .explain[title] {
      border-bottom: 0;
      text-decoration: underline dotted;
    }
  }

  span.comment {
    font-style: italic;
    unicode-bidi: isolate;
  }

  li span.deleted,
  span.history-deleted {
    text-decoration: line-through;
    color: #72777d;
    font-style: italic;
  }

  div.patrollink {
    font-size: 75%;
    text-align: right;
  }

  a.new {
    color: #ba0000;
  }

  .plainlinks a.external {
    background: none !important;
    padding: 0 !important;
  }

  .rtl a.external.free,
  .rtl a.external.autonumber {
    direction: ltr;
    unicode-bidi: embed;
  }

  div.tright,
  div.floatright,
  table.floatright {
    clear: right;
    float: right;
  }

  div.tleft,
  div.floatleft,
  table.floatleft {
    float: left;
    clear: left;
  }

  div.floatright,
  table.floatright,
  div.floatleft,
  table.floatleft {
    position: relative;
  }

  .printfooter {
    display: none;
  }

  sup,
  sub {
    line-height: 1;
  }
}

@media screen {
  a {
    text-decoration: none;
    color: #0645ad;
    background: none;
  }

  a:not([href]) {
    cursor: pointer;
  }

  a:visited {
    color: #0b0080;
  }

  a:active {
    color: #faa700;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:lang(ar),
  a:lang(kk-arab),
  a:lang(mzn),
  a:lang(ps),
  a:lang(ur) {
    text-decoration: none;
  }

  a.stub {
    color: #723;
  }

  a.new,
  #p-personal a.new {
    color: #ba0000;
  }

  a.new:visited,
  #p-personal a.new:visited {
    color: #a55858;
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  hr {
    height: 1px;
    color: #a2a9b1;
    background-color: #a2a9b1;
    border: 0;
    margin: 0.2em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
  }

  h1 {
    font-size: 188%;
  }

  h2 {
    font-size: 150%;
  }

  h3,
  h4,
  h5,
  h6 {
    border-bottom: 0;
    font-weight: bold;
  }

  h3 {
    font-size: 128%;
  }

  h4 {
    font-size: 116%;
  }

  h5 {
    font-size: 108%;
  }

  h6 {
    font-size: 100%;
  }

  h1,
  h2 {
    margin-bottom: 0.6em;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 0.3em;
  }

  p {
    margin: 0.4em 0 0.5em;
  }

  p img {
    margin: 0;
  }

  ul {
    list-style-type: square;
    margin: 0.3em 0 0 1.6em;
    padding: 0;
  }

  ol {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none;
  }

  li {
    margin-bottom: 0.1em;
  }

  dt {
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  dl {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 1.6em;
    margin-bottom: 0.1em;
  }

  pre,
  code,
  tt,
  kbd,
  samp,
  .mw-code {
    font-family: monospace, Courier;
  }

  code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
  }

  pre,
  .mw-code {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    padding: 1em;
    white-space: pre-wrap;
  }

  table {
    font-size: 100%;
  }

  fieldset {
    border: 1px solid #2a4b8d;
    margin: 1em 0;
    padding: 0 1em 1em;
  }

  fieldset.nested {
    margin: 0 0 0.5em;
    padding: 0 0.5em 0.5em;
  }

  legend {
    padding: 0.5em;
    font-size: 95%;
  }

  form {
    border: 0;
    margin: 0;
  }

  textarea {
    width: 100%;
    padding: 0.1em;
    display: block;
    box-sizing: border-box;
    border: 1px solid #a2a9b1;
  }

  .center {
    width: 100%;
    text-align: center;
  }

  *.center * {
    margin-left: auto;
    margin-right: auto;
  }

  .small {
    font-size: 94%;
  }

  table.small {
    font-size: 100%;
  }

  div.floatright,
  table.floatright {
    margin: 0 0 0.5em 0.5em;
  }

  div.floatright p {
    font-style: italic;
  }

  div.floatleft,
  table.floatleft {
    margin: 0 0.5em 0.5em 0;
  }

  div.floatleft p {
    font-style: italic;
  }

  div.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
  }

  div.thumbinner {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
  }

  html .thumbimage {
    background-color: #fff;
    border: 1px solid #c8ccd1;
  }

  html .thumbcaption {
    border: 0;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
  }

  img.thumbborder {
    border: 1px solid #eaecf0;
  }

  div.tright {
    margin: 0.5em 0 1.3em 1.4em;
  }

  div.tleft {
    margin: 0.5em 1.4em 1.3em 0;
  }

  #siteNotice {
    position: relative;
    text-align: center;
    margin: 0;
  }

  #localNotice {
    margin-bottom: 0.9em;
  }

  .firstHeading {
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
  }

  #siteSub {
    display: none;
  }

  #jump-to-nav {
    margin-top: -1.4em;
    margin-bottom: 1.4em;
  }

  #contentSub,
  #contentSub2 {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
  }

  span.subpages {
    display: block;
  }
}

@media screen {
  html {
    font-size: 100%;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background-color: #f6f6f6;
    font-family: Roboto, wtfSymbols, sans-serif !important;
  }

  div.emptyPortlet {
    display: none;
  }

  ul {
    list-style-type: disc;
  }

  pre,
  .mw-code {
    line-height: 1.3em;
  }

  #siteNotice {
    font-size: 0.8em;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: wtfModern;
    src: url("@/assets/wt_font.ttf");
  }

  @font-face {
    font-family: wtfSymbols;
    src: url("@/assets/symbols_skyquake.ttf");
  }

  pre {
    overflow-x: auto;
  }

  .mw-body h1,
  .mw-body-content h2 {
    font-family: Roboto, sans-serif !important;
    padding-bottom: 6px;
  }

  h1,
  h2 {
    border-bottom: 1px solid #dbe0e2;
  }

  .portal h3 {
    display: flex;
    align-items: center;
  }

  .portal p {
    margin: 0;
  }

  .top-panel {
    width: 100%;
    box-shadow: none;
    z-index: 10;
  }

  #p-personal a.new {
    color: #f7f7f7;
  }

  #p-personal a.new:visited {
    color: #f7f7f7;
  }

  #p-logo {
    margin-top: 20px;
    margin-left: 52px;
    position: absolute;
  }

  .content-area {
    margin: 0 auto;
    max-width: 1400px;
  }

  #footer {
    padding-top: 1em !important;
    padding-bottom: 0 !important;
    background-color: #13191b !important;
  }

  #footer-block table {
    width: 100%;
    text-align: center;
    padding: 0 10px 10px;
  }

  #footer-block table td {
    vertical-align: bottom;
  }

  #footer-places > li {
    display: inline-block;
    margin: 0 10px !important;
  }

  #footer-places > li a {
    color: #546e7a !important;
  }

  #footer-copyright {
    width: 100%;
    background-color: #263238;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  #footer-copyright > div {
    max-width: 1000px;
    margin: 0 auto;
  }

  #footer-info > li {
    padding: 0 !important;
    font-size: 11px !important;
  }

  .thumbinner {
    border: 1px solid #dbe0e2 !important;
    padding: 5px !important;
    border-radius: 3px !important;
  }

  .thumbimage {
    border-radius: 3px !important;
    box-sizing: border-box;
  }

  .thumbcaption {
    padding: 3px 5px 1px !important;
    font-size: 14px !important;
  }

  #toc,
  .toc {
    border: 1px solid #dbe0e2 !important;
    border-radius: 3px;
  }

  #mobile-navigation {
    display: none;
  }

  #mw-navigation h2 {
    position: absolute;
    top: -9999px;
  }

  #left-navigation {
    float: left;
    margin-left: 10em;
    margin-bottom: -2.5em;
    display: inline;
  }

  #right-navigation {
    float: right;
  }

  #p-logo a {
    display: inline-block;
    text-decoration: none;
  }

  div#footer {
    direction: ltr;
    background-color: #263238;
  }

  div#footer-block {
    max-width: 1000px;
    margin: 0 auto;
  }

  div#footer ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }

  div#footer ul li {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #b0bec5;
    font-size: 13px;
  }

  div#footer ul li a {
    color: #b0bec5;
    text-decoration: underline;
  }

  div#footer #footer-icons {
    float: right;
    margin-right: 1em;
  }

  div#footer #footer-icons li {
    float: left;
    margin-left: 0.5em;
    line-height: 2em;
    text-align: right;
  }

  div#footer #footer-info li {
    line-height: 1.4em;
  }
}
